@model List<Dictionary<string,object>>

@{
    ViewBag.title = "Solicitudes Pendientes";
 }

<a href="@Url.Action("Create","Altas", new {Area = "Solicitudes"})" class="btn btn-default modal-ajax-load" data-toggle="modal" data-target="#myModal" data-remote="false">Ingresar Persona</a>

<hr />
<div class="">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">@ViewBag.title</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody id="tbody_table">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Estado Aprobación</th>
                        <th>Empleado</th>
                        <th>Rut</th>
                        <th>Cargo</th>
                        <th>Aprobación</th>
                        <th>Documentos</th>

                    </tr>
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = item["id_ing"] })" class="btn btn-default modal-ajax-load pdf-size" data-toggle="modal" data-target="#myModal" data-remote="false"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                </td>
                                <td>
                                    <a href="javascript:confirmDelete('¿Desea eliminar el registro?','@Url.Action("Delete", new { id = item["id_ing"] })')" class="btn btn-default"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                                @{
                                    string aux = "";
                                    if (item["estado_aprov"].ToString() == "1")
                                    {
                                        aux = "Aprovado";
                                    }
                                    else
                                    {
                                        aux = "Pendiente";
                                    }
                                }
                                <td>@Html.DisplayFor(modelitem => aux)</td>
                                <td>@Html.DisplayFor(modelitem => item["nombre"])</td>
                                <td>@Html.DisplayFor(modelitem => item["rut"])</td>
                                <td>@Html.DisplayFor(modelitem => item["cargo"])</td>
                                <td><a href="javascript:confirmDelete('¿Desea Aprobar el registro?','@Url.Action("aprobacion", new { id = item["id_ing"] })')" class="btn btn-default"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a></td>
                                <td><a href="@Url.Action("documentos", new { id = item["id_ing"] })" class="btn btn-default modal-ajax-load pdf-size" data-toggle="modal" data-target="#myModal" data-remote="false"><i class="fa fa-clipboard" aria-hidden="true"></i></a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>







