@model WebApplicationModel.Vacaciones
@using WebApplication.Extensions


@using (Html.BeginForm((Model == null ? "Create" : "Edit"), "Vacaciones", FormMethod.Post, new { @id = "mant-form", @novalidate = "novalidate", role = "form" }))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Formulario Solicitud Vacaciones</h4>
    </div>

    @Html.AntiForgeryToken()
    @(Model == null ? new MvcHtmlString("") : Html.HiddenFor(p => p.id_vac))
    @(Model == null ? new MvcHtmlString("") : Html.HiddenFor(p => p.id_novedad))



    <div class="modal-body">
        <div class="box-body">
            <ul id="myTab1" class="nav nav-tabs bordered cabecera_tab modal-body box-body">
                <li class="active"><a href="#s1" data-toggle="tab" aria-expanded="false" id="cabecera_tab1">Datos Personales </a></li>
                <li class=""><a href="#s2" data-toggle="tab" aria-expanded="true" id="cabecera_tab2">Datos Vacaciones </a></li>
                <li class=""><a href="#s3" data-toggle="tab" aria-expanded="true" id="cabecera_tab3">Descripción </a></li>
            </ul>

            <div id="myTabContent1" class="tab-content formcolor" >
                <div class="tab-pane fade active in form-group" id="s1">
                    <div class="col-md-6">
                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title">Datos del Funcionario</h3>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Nombre Funcionario:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        @Html.TextBoxFor(model => model.Novedad.usuario_mod, new { @Value = @User.Identity.GetNombre(), type = "text", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Rut:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        @Html.TextBoxFor(model => model.Novedad.id_usu, new { @id = "rut", @Value = ViewBag.Rut, type = "text", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Departamento:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-building"></i>
                                        </div>
                                        @Html.TextBoxFor(model => model.Novedad.id_cliente, new { @Value = ViewBag.Empresa, type = "text", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>                       
                    </div> 
                </div>
                <div class="tab-pane fade  in form-group" id="s2">
                    <div class="col-md-6">
                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title">Periodo Solicitud</h3>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Fecha Solicitud:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input name="reservation" type="text" class="form-control" id="reservation"  value="@DateTime.Now.ToString("dd/MM/yyyy")">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Cantidad de días:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-plus-square-o"></i>
                                        </div>
                                        @Html.TextBoxFor(model => model.cant_dias, new { type = "number", @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Vacaciones restantes:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-minus-square-o"></i>
                                        </div>
                                        <input type="text" class="form-control" readonly="readonly" id="dias_restantes" value="@ViewBag.dias" >
                                    </div>
                                </div>                               
                            </div>
                        </div>
                    </div>
                </div>   
                <div class="tab-pane fade  in form-group" id="s3">
                    <div class="col-md-6">
                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title">Descripción</h3>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Descripción solicitud</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-file-text"></i>
                                        </div>
                                        @Html.TextAreaFor(model => model.descripcion, new { @type = "text", @class = "form-control pull-right", maxlength = 200, style = "width: 200px; height: 100px;" })
                                        @*<input type="text" class="form-control pull-right">*@
                                    </div>
                                </div>                 
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="box-footer">
                    <button type="button" class="btn btn-primary" action="save">Solicitar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
}
<script>
    // levanta el formulario
    setFormulario(
        "mant-form",
        {
            Nombre: { required: true },
            rut: { required: true },
            Empresa: { required: true },
            fecha_ini: { required: true },
            fecha_fin: { required: true },
            cant_dias: { required: true },
        },
        {
            Nombre: { required: '<span class="help-block error" ><i class="fa fa-warning"></i> Ingrese Nombre válido</span> ' },
            rut: { required: '<span class="help-block error" ><i class="fa fa-warning"></i> Ingrese rut válido</span> ' },
            Empresa: { required: '<span class="help-block error" ><i class="fa fa-warning"></i> Ingrese Empresa válida</span> ' },
            fecha_ini: { required: '<span class="help-block error" ><i class="fa fa-warning"></i> Ingrese fecha de inicio</span> ' },
            fecha_fin: { required: '<span class="help-block error" ><i class="fa fa-warning"></i> Ingrese fecha de fin</span> ' },
            cant_dias: { required: '<span class="help-block error" ><i class="fa fa-warning"></i> Ingrese cantidad de días válidas</span> ' },
        }
    );

    var fecha_hoy = @DateTime.Now.ToString("dd/MM/yyyy");
    
    
    $('#rut').mask('00.000.000-0', { reverse: true });


    var titulo = [];
    var detalle = [];
    var lista = [{
        index: "",
        tit: "",
        det: ""
    }];

    $("#rut").rut().on('rutInvalido', function (e) {
        alert("El rut " + $(this).val() + " es inválido");
        $("button[action=save]").prop('disabled', true);
    });

    $("#rut").rut().on('rutValido', function (e) {
        $("button[action=save]").prop('disabled', false);
    });

    var docu = "";
    var det = "";

    $(".archive").on('change', function () {
        docu = $(this).find(".file-caption-name").text();
        det = $(this).find(".docu").val();
        console.log(docu + " " + det);
        if (docu == '' || det == '') {
            $("button[action=save]").prop('disabled', true);
        } else {
            $("button[action=save]").prop('disabled', false);
        }
    });

    $("button[action=save]").click(function () {
        $(".file-caption-name").each(function (index) {
            titulo[index] = $(this).prop("title");
        });
        $(".docu").each(function (index) {
            detalle[index] = $(this).val();
        });
        for (var i in titulo) {
            lista.push({
                index: i,
                tit: titulo[i],
                det: detalle[i]
            });
        }
    });


    $(".uploadfile").fileinput({
        showPreview: false,
        showCancel: true,
        showUpload: false,
        browseClass: 'btn btn-warning',
        browseLabel: "Seleccione Documento",
        browseIcon: "<span class='glyphicon glyphicon-open-file' aria-hidden='true'></span>",
        removeClass: "btn btn-danger",
        removeLabel: "Delete",
        removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i>",
        showCancel: true,
        uploadExtraData: function () {
            return {
                documento: JSON.stringify(lista)
            };
        }
    });

    //inicializacion calendario
    $('#reservation').daterangepicker({
        "minDate": fecha_hoy
    })
   

    
</script>